modulos/apps/LOCALGIS-APPS-Catastro/src/main/resources/com/geopista/app/catastro/servicioWebCatastro/utils/schemasxsd/finretorno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--*****************************************************************************************************************-->
<!--*****************************************************************************************************************-->
<!--                                                         finretorno                                                                                -->
<!--																																						-->
<!-- 		Tipo de documento:  agrupación de entidades  particularizadas - formato de intercambio              	-->
<!--																																						-->
<!--	   Aprobado por Resolución de 31 de Julio de 2006, de la Dirección General del Catastro, 				-->
<!--      por la que se aprueba la forma de remisión y la estructura, contenido, especificaciones técnicas 	-->
<!--	   y formato informático de los ficheros de intercambio de información catastral alfanumérica 				-->
<!--	   y gráfica FIN, VARPAD, FICC Y FXCC. 																						-->
<!--																																						-->
<!--*****************************************************************************************************************-->
<!--*****************************************************************************************************************-->
<!--*******************************************************-->
<!--        		Revisión	09.12.09                             -->
<!--*******************************************************-->
<!--
Cambios realizados respecto a la versión anterior:-->
<!--

09-12-2009
Se añade el expediente anterior en el elemento exp.
Se adapta el tipo movrefr a la mofificación del tipo de datos rexpg.
07-09-2009
El código de procedencia del valor base pasa a tener únicamente los valores V, M y S.
19-05-2009
El código de la descripción de la alteración catastral pasa a ser de 3 posiciones.
24-09-2008
Se añade información explicativa del proceso de valoración en finca, suelo, unidad constructiva, construcción, cultivo e inmueble.
Se modifica el tipo fincafinfr para permitir indicar el BICE al que pertenece la finca.
En los datos de valoración de la finca se deja como único dato obligatorio el año de ponencia.
01-09-2008
En el domicilio fiscal del representante el código de municipio de catastro pasa a ser opcional.
24-07-2008
En los datos de la declaración (en el expediente), el campo doco pasa a ser opcional.
07-04-08
Se modifica el tipo de expediente para que admita cualquier valor.
25-03-2008
Se eliminan los campos pvd y opvd de los datos económicos del bien inmueble.
07-03-2008
El campo decl del expediente pasa a ser opcional.
04-02-2008
Se modifican los nombres de algunos tipos, pero la estructura no cambia.
25-01-2008
Se modifican los nombres de algunos tipos, pero la estructura no cambia.
08-01-2008
Se añade el tipo de expediente REVB.
23-11-2007
Se añaden los tipos de expediente CNOT, DICF y DICJ.
17-10-2007
Se añade el tipo de expediente PVCR.
05-09-2007
Se añade el tipo de expediente RENR.
14-08-2007
Se añade la opción del movimiento de baja de finca.
06-07-2007
Se modifica el tipo de algunas fechas: pasa de xsd:date a fecha.
05-07-2007
Se modifica el tipo del código del polígono de valoración.
14-06-2007
Se modifica el tipo usopad.
29-05-2007
Se añade el tipo de expediente REVU.
22-05-2007
El campo idoco pasa a ser opcional.
11-05-07
Se modifican varios tipos para impedir cadenas rellenas unicamente con blancos.
26-04-2007
Se modifica el tipo tintfr: los dos valores permitidos son F y R.
05-03-2007
Se modifican los tipos de expediente.
27-02-2007
Se modifica el tipo de fichero de CCIR a CFIR.
22-02-2007
Se modifica el reparto: el expediente se asocia al destino en vez de al origen.
22-01-2007
Se añade la fecha de cierre del expediente al tipo en la información del expediente
3-11-2006
El expediente origen  pasa a ser obligatorio
El expediente de la gerencia pasa a ser opcional
-->
<xsd:schema targetNamespace="http://www.catastro.meh.es/" elementFormDefault="qualified" version="1.0" xmlns="http://www.catastro.meh.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="ldc.xsd"/>
	<xsd:simpleType name="tfirfr">
		<xsd:restriction base="tfi">
			<xsd:enumeration value="CFIR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tintfr">
		<xsd:restriction base="tint">
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tegrpfr">
		<xsd:restriction base="teg">
			<xsd:enumeration value="G"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="usopadfr">
		<xsd:restriction base="uso">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="V"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="Z"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="cabrfr">
		<xsd:complexContent>
			<xsd:restriction base="cab">
				<xsd:sequence>
					<!--Identificación de la entidad generadora-->
					<xsd:element name="ieg">
						<xsd:annotation>
							<xsd:documentation>Identificación de la entidad generadora</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ieg">
									<xsd:sequence>
										<xsd:element name="teg" type="tegrpfr">
											<xsd:annotation>
												<xsd:documentation>Tipo de entidad generadora:             G: Gerencia del Catastro</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ceg">
											<xsd:annotation>
												<xsd:documentation>Código de la entidad generadora</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="ceg">
														<xsd:sequence>
															<xsd:element name="cd" type="cd">
																<xsd:annotation>
																	<xsd:documentation>Gerencia del Catastro</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="neg" type="neg">
											<xsd:annotation>
												<xsd:documentation>Nombre de la entidad generadora</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Información del fichero-->
					<xsd:element name="ifi">
						<xsd:annotation>
							<xsd:documentation>Identificación del fichero</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ifi">
									<xsd:sequence>
										<xsd:element name="ffi" type="fecha">
											<xsd:annotation>
												<xsd:documentation>Fecha del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="hfi" type="xsd:time">
											<xsd:annotation>
												<xsd:documentation>Hora del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="tfi" type="tfirfr">
											<xsd:annotation>
												<xsd:documentation>Tipo de fichero         CCIR: Fin de retorno</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dfi" type="dfi">
											<xsd:annotation>
												<xsd:documentation>Descripción del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nfi" type="nfi" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Código de la entidad destinataria-->
					<xsd:element name="ced" type="ced" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de entidad destinataria</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Datos específicos del formato padrón-->
					<!--<xsd:element name="dpad" type="dpad"/>-->
					<xsd:element name="iper" type="iper">
						<xsd:annotation>
							<xsd:documentation>Información del período</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cuexp" type="cuexp">
						<xsd:annotation>
							<xsd:documentation>Número de expedientes</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cufin" type="cufin">
						<xsd:annotation>
							<xsd:documentation>Número de fincas</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cubi" type="cubi">
						<xsd:annotation>
							<xsd:documentation>Número de bienes inmuebles</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cutit" type="cutit">
						<xsd:annotation>
							<xsd:documentation>Número de titulares</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lourbrfr">
		<xsd:complexContent>
			<xsd:restriction base="lourb">
				<xsd:sequence>
					<xsd:element name="dir">
						<xsd:annotation>
							<xsd:documentation>Dirección</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dir">
									<xsd:sequence>
										<xsd:element name="cv" type="cv">
											<xsd:annotation>
												<xsd:documentation>Código de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="tv" type="tv">
											<xsd:annotation>
												<xsd:documentation>Tipo de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nv" type="nv">
											<xsd:annotation>
												<xsd:documentation>Nombre de la vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="pnp" type="pnp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primer número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="plp" type="plp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="snp" type="snp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segundo número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="slp" type="slp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>segunda letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="km" type="km" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Kilómetro</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="td" type="dne" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Dirección no estructurada</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="loint" type="loint" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Localización interna</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dp" type="dp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distrito postal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dm" type="dm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distrito municipal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lorusrfr">
		<xsd:complexContent>
			<xsd:restriction base="lorus">
				<xsd:sequence>
					<xsd:element name="cma" type="cma" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de municipio origen en caso de agregación</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="czc" type="czc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la zona de concentración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpp" type="cpp">
						<xsd:annotation>
							<xsd:documentation>Código polígono parcela</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="npa" type="npa" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Nombre del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpaj" type="cpaj" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lorusrrfr">
		<xsd:complexContent>
			<xsd:restriction base="lorus">
				<xsd:sequence>
					<xsd:element name="cma" type="cma" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de municipio origen en caso de agregación</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="czc" type="czc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la zona de concentración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpp" type="cpp">
						<xsd:annotation>
							<xsd:documentation>Código polígono parcela</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="npa" type="npa">
						<xsd:annotation>
							<xsd:documentation>Nombre del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpaj" type="cpaj">
						<xsd:annotation>
							<xsd:documentation>Código del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="locsrfr">
		<xsd:complexContent>
			<xsd:restriction base="locs">
				<xsd:choice>
					<xsd:element name="lous">
						<xsd:annotation>
							<xsd:documentation>Localización urbana obligatoria</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lous">
									<xsd:sequence>
										<xsd:element name="lourb" type="lourbrfr">
											<xsd:annotation>
												<xsd:documentation>Localización urbana</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="lorus" type="lorusrfr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización rústica adicional</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="lors">
						<xsd:annotation>
							<xsd:documentation>Localización rústica obligatoria</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lors">
									<xsd:sequence>
										<xsd:element name="lorus" type="lorusrrfr">
											<xsd:annotation>
												<xsd:documentation>Localización rústica</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="lourb" type="lourbrfr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización urbana adicional</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="birfr">
		<xsd:complexContent>
			<xsd:restriction base="bi">
				<xsd:sequence>
					<xsd:element name="idcat" type="idcat">
						<xsd:annotation>
							<xsd:documentation>Identificación</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idad" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Información adicional de identificación</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="idad">
									<xsd:sequence>
										<xsd:element name="nfbi" type="nfbi">
											<xsd:annotation>
												<xsd:documentation>Número fijo del bien inmueble</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="iia" type="iia" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Identificación del inmueble del Ayuntamiento</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nfr" type="nfr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Número de finca registral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="dt">
						<xsd:annotation>
							<xsd:documentation>Domicilio tributario</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dt">
									<xsd:sequence>
										<xsd:element name="loine" type="loine">
											<xsd:annotation>
												<xsd:documentation>Localización INE</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cmc" type="cmc">
											<xsd:annotation>
												<xsd:documentation>Código de Municipio de la DGC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="np" type="np">
											<xsd:annotation>
												<xsd:documentation>Nombre de provincia</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nm" type="nm">
											<xsd:annotation>
												<xsd:documentation>Nombre de municipio</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nem" type="nem" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="locs" type="locsrfr">
											<xsd:annotation>
												<xsd:documentation>Localización muicipal</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="debi" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos económicos del bien inmueble</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="debi">
									<xsd:sequence>
										<xsd:element name="pav" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Precio administrativo de venta </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="afv" type="xsd:gYear" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Año de finalización de la valoración según precio máximo de fijación administrativa </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="itp" type="itp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Indicador del tipo de propiedad fórmulas 5 y 6          (T: sobre todo          S: sobre suelo         C: sobre construcción            V: sobre vuelo         I: sobre inmueble    N: no informado )</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="noe" type="noe" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Número de orden del inmueble en la escritura de división horizontal</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="avc" type="xsd:gYear">
											<xsd:annotation>
												<xsd:documentation>Año del valor catastral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vcat" type="vcat">
											<xsd:annotation>
												<xsd:documentation>Valor catastral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vcs" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Valor catastral del suelo </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vcc" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Valor catastral de la construcción</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="bl" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Base liquidable</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="uso" type="usopadfr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Uso</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="bru" type="bru" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Bonificaciones rústicas</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="sfc" type="supg" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Superficie asociada al cargo en procedimientos de valoración de fincas construidas</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="sfs" type="supg" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Superficie asociada al cargo en procedimientos de valoración de solares o parcelas rústicas</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cpt" type="cpt" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Coeficiente de participación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ant" type="xsd:gYear" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Antigüedad</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="rep" type="repr">
						<xsd:annotation>
							<xsd:documentation>Representante</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--<xsd:element name="dcbl" type="dcbl" minOccurs="0"/>
					<xsd:element name="spas">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="spas">
									<xsd:sequence>
										<xsd:element name="drsp" type="drsp"/>
										<xsd:element name="idps" type="idps"/>
										<xsd:element name="df" type="dfsp"/>
										<xsd:element name="cony" type="cony" minOccurs="0"/>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>-->
					<xsd:element name="evbi" type="evbi" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Explicación de la valoración del bien inmueble</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="titrfr">
		<xsd:complexContent>
			<xsd:restriction base="tit">
				<xsd:sequence>
					<xsd:element name="der" type="der">
						<xsd:annotation>
							<xsd:documentation>Datos del derecho</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ord" type="ord">
						<xsd:annotation>
							<xsd:documentation>Ordinal del derecho (número secuencial del derecho del titular sobre el bien)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idpa" type="idpa">
						<xsd:annotation>
							<xsd:documentation>Identificación del titular</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="df">
						<xsd:annotation>
							<xsd:documentation>Domicilio fiscal</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="df">
									<xsd:sequence>
										<xsd:element name="loine" type="loine" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización INE</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cmc" type="cmc" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Código de municipio de la DGC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="np" type="np" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de provincia</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nm" type="nm" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de municipio</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nem" type="nem" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de entidad menor</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dir" type="dir" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Dirección</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="loint" type="loint" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización interna</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="pos" type="pos" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Datos postales</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="iatit" type="iatit" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Información adicional de titularidad</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="movrfr">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="texp" type="texp">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fac" type="fecha">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expg" type="expg">
						<xsd:annotation>
							<xsd:documentation>Expediente de la Gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente de la entidad colaboradora</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="movr2fr">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="texp" type="texp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fac" type="fecha" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expg" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente de la gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente de la entidad conlaboradora</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--<xsd:element name="eep" type="xsd:gYear"/>-->
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="inftrfr">
		<xsd:complexContent>
			<xsd:restriction base="inft">
				<xsd:sequence>
					<xsd:element name="dcbl" type="dcbls" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos para el cálculo de la base liquidable</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="finretorno">
		<xsd:annotation>
			<xsd:documentation>Formato de intercambio de información de catastro Fin de retorno</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cabecera" type="cabrfr">
					<xsd:annotation>
						<xsd:documentation>Cabecera</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ludsa" type="lufinretorno">
					<xsd:annotation>
						<xsd:documentation>Lista de Unidades de datos del Fin de retorno</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="lufinretorno">
		<xsd:sequence>
			<xsd:element name="udsa" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Unidad de datos del Fin de retorno</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:sequence>
							<xsd:element name="exp" type="movrefr">
								<xsd:annotation>
									<xsd:documentation>Expediente de la Gerencia</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="lelems">
								<xsd:annotation>
									<xsd:documentation>Lista de situaciones </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:choice>
										<xsd:element name="elemsf" type="elemsffr" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Situaciones en catastro en expedientes finalizados</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="elemsr" type="elemsrfr" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Situaciones en catastro en expedientes no finalizados</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:choice>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="elemsffr">
		<xsd:complexContent>
			<xsd:restriction base="elemsf">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element name="fincacs" type="fincacsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Finca catastral</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lsuelocs" type="lsuelocsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de suelos </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="luccs" type="luccsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de unidades constructivas </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lbics" type="lbicsfinfr">
							<xsd:annotation>
								<xsd:documentation>Lista de bienes inmuebles </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lconscs" type="lconscsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de construcciones </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lsprcs" type="lsprcsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de cultivos </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lreparcs" type="lreparcsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de repartos </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="fxcc" type="fxcc" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FXCC</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="elemsrfr">
		<xsd:complexContent>
			<xsd:restriction base="elemsr">
				<xsd:choice>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation>Datos de catastro relacionados con el expediente no finalizado</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="fincacs" type="fincacsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Finca catastral</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lsuelocs" type="lsuelocsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de suelos </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="luccs" type="luccsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de unidades constructivas </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lbics" type="lbicsfinfr">
							<xsd:annotation>
								<xsd:documentation>Lista de bienes inmuebles </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lconscs" type="lconscsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de construcciones </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lsprcs" type="lsprcsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de cultivos </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lreparcs" type="lreparcsfinfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de repartos </xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="fxcc" type="fxcc" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>FXCC</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:element name="bicreg" type="bireg">
						<xsd:annotation>
							<xsd:documentation>Identificación de fincas o bienes inmuebles relacionados con el expediente no finalizado</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lbicsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="lbics">
        <xsd:choice>
					<xsd:choice maxOccurs="unbounded">
						<!--<xsd:element name="bicec" type="bicecsfins">
							<xsd:annotation>
								<xsd:documentation>Bien inmueble catastral con datos económicos exclusivamente</xsd:documentation>
							</xsd:annotation>
						</xsd:element>-->
						<xsd:element name="bij" type="bijfinsfr">
							<xsd:annotation>
								<xsd:documentation>Bien inmueble catastral</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="bijfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="bijs">
				<xsd:sequence>
					<xsd:element name="bi" type="birfr">
						<xsd:annotation>
							<xsd:documentation>Datos del bien inmueble</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inft" type="inftrfr" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Información tributaria</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="exp" type="movrfr">
						<xsd:annotation>
							<xsd:documentation>Expediente fisico económico</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lsf">
						<xsd:annotation>
							<xsd:documentation>Lista de titulares</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lsfs">
									<xsd:sequence>
										<xsd:element name="sft" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Titular catastral</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="sft">
														<xsd:sequence>
															<xsd:element name="tit" type="titrfr">
																<xsd:annotation>
																	<xsd:documentation>Datos del titular</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="exp" type="movr2fr">
																<xsd:annotation>
																	<xsd:documentation>Expediente jurídico</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="lcbi" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Lista de comunidades de bienes</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lcbi">
									<xsd:sequence>
										<xsd:element name="cbi" maxOccurs="4">
											<xsd:annotation>
												<xsd:documentation>Comunidad de bienes</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="cbi">
														<xsd:sequence>
															<xsd:element name="idcbf" type="idcbf">
																<xsd:annotation>
																	<xsd:documentation>Identificación de la comunidad de bienes</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="df">
																<xsd:annotation>
																	<xsd:documentation>Domicilio fiscal</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="df">
																			<xsd:sequence>
																				<xsd:element name="loine" type="loine" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Localización INE</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="cmc" type="cmc" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Código de municipio de la DGC</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="np" type="np" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de provincia</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nm" type="nm" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de municipio</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nem" type="nem" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="dir" type="dir" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Dirección</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="loint" type="loint" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Localización interna</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pos" type="pos" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Datos postales</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fincacsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="fincacs">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="fincas" type="fincafinfr">
							<xsd:annotation>
								<xsd:documentation>Datos de la finca</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="exp" type="movr2fr">
							<xsd:annotation>
								<xsd:documentation>Expediente</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="tmovb" type="tmovb" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Movimiento de baja</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lsuelocsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="lsuelocs">
				<xsd:sequence>
					<xsd:element name="suelocs" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Suelo catastral</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="suelocs">
									<xsd:choice>
										<xsd:sequence>
											<xsd:element name="suelos" type="suelofinfr">
												<xsd:annotation>
													<xsd:documentation>Datos del suelo</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="exp" type="movr2fr">
												<xsd:annotation>
													<xsd:documentation>Expediente</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:choice>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="luccsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="luccs">
				<xsd:sequence>
					<xsd:element name="uccs" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Unidad constructiva catastral</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="uccs">
									<xsd:choice>
										<xsd:sequence>
											<xsd:element name="ucs" type="uniconsfinfr">
												<xsd:annotation>
													<xsd:documentation>Datos de la unidad constructiva</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="exp" type="movr2fr">
												<xsd:annotation>
													<xsd:documentation>Expediente</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:choice>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lconscsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="lconscs">
				<xsd:sequence>
					<xsd:element name="conscs" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Construcción catastral</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="conscs">
									<xsd:choice>
										<xsd:sequence>
											<xsd:element name="conss" type="consfinfr">
												<xsd:annotation>
													<xsd:documentation>Datos de la construcción</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="exp" type="movr2fr">
												<xsd:annotation>
													<xsd:documentation>Expediente</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:choice>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lreparcsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="lreparcs">
				<xsd:sequence>
					<xsd:element name="reparcs" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Reparto catastral</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="reparcs">
									<xsd:choice>
										<xsd:sequence>
											<xsd:element name="repars" type="reparfinsfr">
												<xsd:annotation>
													<xsd:documentation>Datos del reparto</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:choice>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lsprcsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="lsprcs">
				<xsd:sequence>
					<xsd:element name="sprcs" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Culivo catastral</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="sprcs">
									<xsd:choice>
										<xsd:sequence>
											<xsd:element name="sprs" type="sprfinfr">
												<xsd:annotation>
													<xsd:documentation>Datos del cultivo</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="exp" type="movr2fr">
												<xsd:annotation>
													<xsd:documentation>Expediente</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:choice>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fincafinfr">
		<xsd:complexContent>
			<xsd:restriction base="finca">
				<xsd:sequence>
					<xsd:element name="idfcat" type="idfcat">
						<xsd:annotation>
							<xsd:documentation>Identificación de la finca</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="rbice" type="rbice" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Referencia del BICE al que pertenece la finca</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dt" type="dtr">
						<xsd:annotation>
							<xsd:documentation>Domicilio Tributario</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dff" type="dff">
						<xsd:annotation>
							<xsd:documentation>Datos físicos de la finca</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dval" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos de valoración de la finca</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dval">
									<xsd:sequence>
										<xsd:element name="aapv" type="xsd:gYear">
											<xsd:annotation>
												<xsd:documentation>Año de aprobación de la ponencia</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:sequence minOccurs="0">
											<xsd:element name="cfcvc" type="cfcvc">
												<xsd:annotation>
													<xsd:documentation>Código de la fórmula de cálculo del valor catastral</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="cpo" type="cpov">
												<xsd:annotation>
													<xsd:documentation>Código de Polígono de valoración</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="mr" type="mr">
												<xsd:annotation>
													<xsd:documentation>Indicador de modalidad de reparto del valor de la edificabilidad no materializada o derecho de vuelo (1: por partes iguales; 2: por superficie; 3: por coeficientes; A: Se valora por repercusión; B: Anula el vuelo indicado en ponencia; C: Fincas infraedificadas o ruinosas; N: reparto efectuado según forma de cálculo)
</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="iipvc" type="iipvcs" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation> Indicador de infraedificabilidad en Procedimiento de valoración colectiva 2005 y posteriores .

Se explicará el motivo de infraedificabilidad:

1 Construcción escasa
2 Fecha de antigüedad
3 Construcción ruinosa
4 Zonas pendientes de desarrollo
 

 

</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="evf" type="evf" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Explicación de la valoración de la finca</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="suelofinfr">
		<xsd:complexContent>
			<xsd:restriction base="suelo">
				<xsd:sequence>
					<xsd:element name="idsucat" type="idsucat">
						<xsd:annotation>
							<xsd:documentation>Identificación del suelo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dfsu">
						<xsd:annotation>
							<xsd:documentation>Datos físicos del suelo</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dfsu">
									<xsd:sequence>
										<xsd:element name="fach" type="fach" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Información de fachada</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="sup" type="supp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Superficie</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="fondo" type="fondo" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Fondo</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="dvs" type="dvs">
						<xsd:annotation>
							<xsd:documentation>Datos de valoración del suelo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="evs" type="evs" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Explicación de la valoración del suelo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="uniconsfinfr">
		<xsd:complexContent>
			<xsd:restriction base="unicons">
				<xsd:sequence>
					<xsd:element name="iducat" type="iducat">
						<xsd:annotation>
							<xsd:documentation>identificación de la unidad constructiva</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dt" type="dtre" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Domicilio tributario</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dfuc" type="dfuc">
						<xsd:annotation>
							<xsd:documentation>Datos físicos de la unidad constructiva</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dvuc" type="dvuc">
						<xsd:annotation>
							<xsd:documentation>Datos de valoración de la unidad constructiva</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="evuc" type="evuc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Explicación de la valoración de la unidad constructiva</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="consfinfr">
		<xsd:complexContent>
			<xsd:restriction base="cons">
				<xsd:sequence>
					<xsd:element name="idconscat" type="idconscat">
						<xsd:annotation>
							<xsd:documentation>Identificación de la construcción</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dt" type="domi" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Domicilio tributario</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dfcons" type="dfconssfr">
						<xsd:annotation>
							<xsd:documentation>Datos físicos de la construcción</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dvcons" type="dvcons">
						<xsd:annotation>
							<xsd:documentation>Datos de valoración de la construcción</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="evcons" type="evcons" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos de valoración de la construcción</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="dfconssfr">
		<xsd:complexContent>
			<xsd:restriction base="dfcons">
				<xsd:sequence>
					<xsd:element name="cuc" type="cuc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la unidad constructiva</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice minOccurs="0">
						<xsd:element name="car" type="car">
							<xsd:annotation>
								<xsd:documentation>Cargo</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="modl" type="modl">
							<xsd:annotation>
								<xsd:documentation>Modalidad de reparto:                  Primer carácater: (T/A) a todos o a alguno                     Segundo carácter: (L/C) a locales o a cargos                      Tercer carácter: (1/2/3/4) proporción del reparto, por partes iguales, por superficie de los locales, por coeficientes de propiedad, o por coeficientes específicamente determindos</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="cdes" type="cdes">
						<xsd:annotation>
							<xsd:documentation>Código de destino</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="refor" type="refor" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos de la reforma de la construcción</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="aec" type="xsd:gYear" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Antiguedad efectiva en Catastro (Para la obtención del valor catastral)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ili" type="ie" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Indicador de local interior</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="stl" type="supp">
						<xsd:annotation>
							<xsd:documentation>Superficie total del local</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="spt" type="supp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Superficie de porches y terrazas del local</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sil" type="supp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Superficie imputada al local en otras plantas</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="reparfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="repars">
				<xsd:sequence>
					<xsd:element name="idrepcat">
						<xsd:annotation>
							<xsd:documentation>Identificación del reparto</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="idrepcats">
									<xsd:sequence>
										<xsd:element name="pc" type="pc">
											<xsd:annotation>
												<xsd:documentation>Parcela Castastral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ner" type="nersfinsfr">
											<xsd:annotation>
												<xsd:documentation>Elemento a repartir</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="locat" type="locat">
											<xsd:annotation>
												<xsd:documentation>Localización DGC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="nersfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="ners">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="noec" type="noec">
							<xsd:annotation>
								<xsd:documentation>Número de orden del elemento de construcción</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lerep" type="lerepsfinsfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de elementos a los que se reparte</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="cspr" type="cspr">
							<xsd:annotation>
								<xsd:documentation>Código de subparcela</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ccc" type="ccc">
							<xsd:annotation>
								<xsd:documentation>Calificación Catastral</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="lcrep" type="lcrepsfinsfr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Lista de cargos a los que se reparte</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lerepsfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="lereps">
				<xsd:choice>
					<xsd:element name="irepc" type="irepcsfinsfr" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Información del Reparto entre cargos</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="irepl" type="ireplsfinsfr" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Información del Reparto entre locales</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lcrepsfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="lcreps">
				<xsd:sequence>
					<xsd:element name="irepc" type="irepcsfinsfr" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Información del Reparto entre cargos</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="irepcsfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="irepcs">
				<xsd:sequence>
					<xsd:element name="car" type="car">
						<xsd:annotation>
							<xsd:documentation>Cargo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pctrep" type="pctrep" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Porcentaje de Reparto</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="exp" type="movr2fr">
						<xsd:annotation>
							<xsd:documentation>Expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ireplsfinsfr">
		<xsd:complexContent>
			<xsd:restriction base="irepls">
				<xsd:sequence>
					<xsd:element name="noec" type="noec">
						<xsd:annotation>
							<xsd:documentation>Número de orden del local a repartir entre locales</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pctrep" type="pctrep" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Porcentaje de Reparto</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="exp" type="movr2fr">
						<xsd:annotation>
							<xsd:documentation>Expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="sprfinfr">
		<xsd:complexContent>
			<xsd:restriction base="spr">
				<xsd:sequence>
					<xsd:element name="idspr" type="idspr">
						<xsd:annotation>
							<xsd:documentation>identificación del cultivo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dspr">
						<xsd:annotation>
							<xsd:documentation>Datos del cultivo</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dspr">
									<xsd:sequence>
										<xsd:choice>
											<xsd:element name="car" type="car">
												<xsd:annotation>
													<xsd:documentation>Cargo</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="modl" type="modlspr">
												<xsd:annotation>
													<xsd:documentation>Código de la modalidad de reparto:                   Primer carácter: (T/A) a todos o a alguno                     Segundo carácter:   (C) cargo                 Tercer carácter: (1/2/3/4) proporción del reparto, por partes iguales, por superficie de los locales, por coeficientes de propiedad, o por coeficientes específicamente determinados    </xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:choice>
										<xsd:element name="tspr" type="tspr">
											<xsd:annotation>
												<xsd:documentation>Tipo de subparcela:  T: terreno               A: abstracta            D: dominio público</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dcc" type="dcc">
											<xsd:annotation>
												<xsd:documentation>Denominación de la clase de cultivo</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ip" type="ip">
											<xsd:annotation>
												<xsd:documentation>Intensidad productiva</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ssp" type="supg">
											<xsd:annotation>
												<xsd:documentation>Superficie</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="bspr" type="bspr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Datos de la bonificación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vsp" type="vcat">
											<xsd:annotation>
												<xsd:documentation>Valor catastral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="evspr" type="evspr" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Explicación de la valoración del cultivo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="movrefr">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="tint" type="tintfr">
						<xsd:annotation>
							<xsd:documentation>Tipo de Intercambio:    F: Información de expedientes finalizados               R: Información de expedientes no finalizados</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Tipo de expediente (motivo del movimiento)-->
					<xsd:element name="texp" type="texp">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--<xsd:element name="fac" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>-->
					<xsd:element name="expg" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente de la Gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec">
						<xsd:annotation>
							<xsd:documentation>Expediente administrativo origen</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expa" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente anterior</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fre" type="fecha">
						<xsd:annotation>
							<xsd:documentation>Fecha de registro</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--INFORMACIÓN DE NOTARIOS Y REGISTRADORES-->
					<!--<xsd:element name="fhm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha y hora de cierre del expediente</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="fhm">
									<xsd:sequence>
										<xsd:element name="fm" type="xsd:date">
											<xsd:annotation>
												<xsd:documentation>Fecha del movimiento</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="hm" type="xsd:time">
											<xsd:annotation>
												<xsd:documentation>Hora del movimiento</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>-->
					<xsd:element name="inr" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>información notarial</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="inr">
									<xsd:sequence>
										<xsd:element name="npn" type="npn" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Número de protocolo notarial</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="decl" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos de la declaración</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="decl">
									<xsd:sequence>
										<!--Documento origen de la alteración-->
										<xsd:element name="doco" type="doco" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Documento origen de la alteración: P: Público, R: Privado</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="idoco" type="idoco" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Información del documento origen de la alteración</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nbi" type="nbi">
											<xsd:annotation>
												<xsd:documentation>Número de bienes inmuebles implicados en la declaración</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="cdeac" type="cdeac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código descriptivo de la alteración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="deac" type="deac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Descripción de la alteración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dec">
						<xsd:annotation>
							<xsd:documentation>Presentador del expediente</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dec">
									<xsd:sequence>
										<xsd:element name="idp" type="idp">
											<xsd:annotation>
												<xsd:documentation>Identificación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dfn">
											<xsd:annotation>
												<xsd:documentation>Domicilio de notificación</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="dfn">
														<xsd:sequence>
															<xsd:element name="loine" type="loine">
																<xsd:annotation>
																	<xsd:documentation>Localización INE</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="cmc" type="cmc">
																<xsd:annotation>
																	<xsd:documentation>Código de municipio de la DGC</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="np" type="np">
																<xsd:annotation>
																	<xsd:documentation>Nombre de provincia</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="nm" type="nm">
																<xsd:annotation>
																	<xsd:documentation>Nombre de municipio</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="nem" type="nem" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Nombre de entidad menor</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="dir">
																<xsd:annotation>
																	<xsd:documentation>Dirección</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="dir">
																			<xsd:sequence>
																				<xsd:element name="cv" type="cv" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Código de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="tv" type="tv">
																					<xsd:annotation>
																						<xsd:documentation>Tipo de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nv" type="nv">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pnp" type="pnp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Primer número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="plp" type="plp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="snp" type="snp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Segundo número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="slp" type="slp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Segunda letra asociada al número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="km" type="km" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Kilómetro</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="td" type="dne" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Texto de dirección no estructurada</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="loint" type="loint" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Localización interna</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="pos" type="pos">
																<xsd:annotation>
																	<xsd:documentation>Datos postales</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="fce" type="fecha" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha de cierre del expediente tramitado en la Gerencia del Catastro</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
