seguridad/tags/release-1.0/modulos/tags/apps20120808/apps/LOCALGIS-Catastro/src/main/resources/com/geopista/app/catastro/servicioWebCatastro/utils/schemasxsd/varpad.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--*****************************************************************************************************************-->
<!--*****************************************************************************************************************-->
<!--                                                         varpad                                                                                    -->
<!--																																						-->
<!-- 	     Tipo de documento:  agrupación de entidades  particularizadas - formato de intercambio             	-->
<!--																																						-->
<!--	   Aprobado por Resolución de 31 de Julio de 2006, de la Dirección General del Catastro, 				-->
<!--      por la que se aprueba la forma de remisión y la estructura, contenido, especificaciones técnicas 	-->
<!--	   y formato informático de los ficheros de intercambio de información catastral alfanumérica 				-->
<!--	   y gráfica FIN, VARPAD, FICC Y FXCC. 																						-->
<!--																																						-->
<!--*****************************************************************************************************************-->
<!--*****************************************************************************************************************-->
<!--*******************************************************-->
<!--        	Revisión	09.12.09                                  -->
<!--*******************************************************-->
<!--
Cambios realizados respecto a la versión anterior:

09-12-2009
Se añade el expediente anterior en el elemento exp.
Se adapta el tipo movrevp a la mofificación del tipo de datos rexpg.
19-05-2009
El código de la descripción de la alteración catastral pasa a ser de 3 posiciones.
24-07-2008
En los datos de la declaración (en el expediente), el campo doco pasa a ser opcional.
02-07-2008
En la localización urbana obligatoria del bien inmueble, el campo dir pasa a ser obligatorio (se modifican los tipos lourbrevp y locsrevp y se crea el tipo lourbrrevp).
23-05-2008
Se añaden más tipos de expediente.
07-04-2008
Se modifican los tipos de expediente.
29-02-2008
Se añade la opción G en el tipo de entidad generadora (tegrvp).
25-01-2008
Se modifican los nombres de algunos tipos, pero la estructura no cambia.
08-01-2008
Se añade el tipo de fichero CVPC.
30-11-2007
Se añaden los tipos de expediente RED2 y RRD2.
23-11-2007
Se añaden los tipos de expediente COEC, DICF, DICJ y SITC.
20-11-2007
Se modifica el nombre de diversos tipos, aunque no afecta a la estructura.
06-07-2007
Se modifica el tipo de algunas fechas: pasa de xsd:date a fecha.
22-05-2007
El campo idoco pasa a ser opcional.
11-05-2007
Se modifican varios tipos para impedir cadenas rellenas unicamente con blancos.
31-10-2006
Se actualiza el tipo de expediente de varpad texpjr
12-06-2006
Se redefine el expediente de la gerencia expg, cambiando la referncia del expediente a rexpge

La máxima ocurrencia de las comunidades de bienes a 4 en lugar de 2

15-05-2006
Se sustituye el tipo de datos locat por engf en la cabecera dentro de la cabecera en el código de la entidad generadora

18-04-2006
Desaparece el tipo de elemento de situaciones finales ahora sólo son posibles los intercambios en
tipo variaciones o registro

Se homogeneizan todos los domicilios fiscales: presentador, representante, titular y el de la comunidad de bienes
El código de vía es opcional
El tipo de vía obligatorio (Si en formatos de salida (padron) no se tienen esa información se consignará calle) 
El bloque de datos postales es opcional

Se añade la fecha de alteración jurídica en el titular

Se añade el código de la descripción de la alteración catastral cdeac dentro del expediente

17-04-2006
Se restringe inr, ahora sólo con el número de protocolo notarial





-->
<xsd:schema xmlns="http://www.catastro.meh.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.catastro.meh.es/" elementFormDefault="qualified" version="1.0">
	<xsd:include schemaLocation="ldc.xsd"/>
	<!--PARTICULARIZACIÓN DE TIPOS SIMPLES-->
	<xsd:simpleType name="tegrvp">
		<xsd:restriction base="teg">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="G"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tintvp">
		<xsd:restriction base="tint">
			<xsd:enumeration value="V"/>
			<xsd:enumeration value="R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tmovcvp">
		<xsd:restriction base="tmovc">
			<xsd:enumeration value="I"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="texpjrvp">
		<xsd:restriction base="texp">
			<xsd:enumeration value="901N"/>
			<xsd:enumeration value="CIBI"/>
			<xsd:enumeration value="CNOT"/>
			<xsd:enumeration value="COEJ"/>
			<xsd:enumeration value="DICJ"/>
			<xsd:enumeration value="RBCJ"/>
			<xsd:enumeration value="RECJ"/>
			<xsd:enumeration value="RED2"/>
			<xsd:enumeration value="RRC2"/>
			<xsd:enumeration value="RRD2"/>
			<xsd:enumeration value="SBAJ"/>
			<xsd:enumeration value="SCRP"/>
			<xsd:enumeration value="SIDF"/>
			<xsd:enumeration value="SITC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tfirvp">
		<xsd:restriction base="tfi">
			<xsd:enumeration value="CVPE"/>
			<xsd:enumeration value="CVPC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--PARTICULARIZACIÓN DE LA ENTIDAD CABECERA-->
	<xsd:complexType name="cabreduvp">
		<xsd:complexContent>
			<xsd:restriction base="cab">
				<xsd:sequence>
					<!--Identificación de la entidad generadora-->
					<xsd:element name="ieg">
						<xsd:annotation>
							<xsd:documentation>Información de la entidad generadora</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ieg">
									<xsd:sequence>
										<xsd:element name="teg" type="tegrvp">
											<xsd:annotation>
												<xsd:documentation>Tipo de entidad generadora:            A (Ayuntamientos) C (Entidades con convenio)                E (Empresas)  </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ceg">
											<xsd:annotation>
												<xsd:documentation>Código de entidad generadora</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="ceg">
														<xsd:choice>
															<xsd:element name="engf" type="engf">
																<xsd:annotation>
																	<xsd:documentation>Entidad Generadora del fichero</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:choice>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="neg" type="neg">
											<xsd:annotation>
												<xsd:documentation>Nombre de la Entidad Generadora</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Información del fichero-->
					<xsd:element name="ifi">
						<xsd:annotation>
							<xsd:documentation>Información del Fichero</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ifi">
									<xsd:sequence>
										<xsd:element name="ffi" type="fecha">
											<xsd:annotation>
												<xsd:documentation>Fecha de generación del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="hfi" type="xsd:time">
											<xsd:annotation>
												<xsd:documentation>Hora de generación del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="tfi" type="tfirvp">
											<xsd:annotation>
												<xsd:documentation>Tipo de fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dfi" type="dfi" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Descripción del contenido del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nfi" type="nfi" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre del fichero (Asignado por la D.G. del Catastro)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ced" type="ced" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la entidad destinataria (Cumplimentado por la DGC)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Datos específicos del formato -->
					<xsd:element name="iper" type="iper">
						<xsd:annotation>
							<xsd:documentation>Información del periodo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cuexp" type="cuexp">
						<xsd:annotation>
							<xsd:documentation>Número de expedientes</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cubi" type="cubi">
						<xsd:annotation>
							<xsd:documentation>Número de bienes inmuebles</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cutit" type="cutit">
						<xsd:annotation>
							<xsd:documentation>Número de titulares</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LORUS Y LOURB QUE SE UTILIZARÁ EN EL DOMICILIO SELECTIVO-->
	<xsd:complexType name="lourbrevp">
		<xsd:complexContent>
			<xsd:restriction base="lourb">
				<xsd:sequence>
					<xsd:element name="dir">
						<xsd:annotation>
							<xsd:documentation>Dirección</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dir">
									<xsd:sequence>
										<xsd:element name="cv" type="cv">
											<xsd:annotation>
												<xsd:documentation>Código de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="tv" type="tv">
											<xsd:annotation>
												<xsd:documentation>Tipo de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nv" type="nv">
											<xsd:annotation>
												<xsd:documentation>Nombre de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="pnp" type="pnp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primer número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="plp" type="plp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="snp" type="snp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segundo número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="slp" type="slp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segunda letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="km" type="km" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Kilómetro</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="td" type="dne" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Dirección no estructurada</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="loint" type="loint" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Localización interna</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dp" type="dp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código Postal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dm" type="dm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distrito Municipal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--Particularización de lourb (para la localización urbana adicional)-->
	<xsd:complexType name="lourbrrevp">
		<xsd:complexContent>
			<xsd:restriction base="lourb">
				<xsd:sequence>
					<xsd:element name="dir" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Dirección</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dir">
									<xsd:sequence>
										<xsd:element name="cv" type="cv">
											<xsd:annotation>
												<xsd:documentation>Código de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="tv" type="tv">
											<xsd:annotation>
												<xsd:documentation>Tipo de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nv" type="nv">
											<xsd:annotation>
												<xsd:documentation>Nombre de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="pnp" type="pnp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primer número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="plp" type="plp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="snp" type="snp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segundo número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="slp" type="slp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segunda letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="km" type="km" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Kilómetro</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="td" type="dne" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Dirección no estructurada</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="loint" type="loint" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Localización interna</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dp" type="dp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código Postal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dm" type="dm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distrito Municipal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LORUS-->
	<xsd:complexType name="lorusrevp">
		<xsd:complexContent>
			<xsd:restriction base="lorus">
				<xsd:sequence>
					<xsd:element name="cma" type="cma" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de municipio agregado</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="czc" type="czc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la zona de concentración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpp" type="cpp">
						<xsd:annotation>
							<xsd:documentation>Identificador Polígono-Parcela</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="npa" type="npa" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Nombre del Paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpaj" type="cpaj" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LORUS-->
	<xsd:complexType name="lorusrrevp">
		<xsd:complexContent>
			<xsd:restriction base="lorus">
				<xsd:sequence>
					<xsd:element name="cma" type="cma" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de municipio agregado</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="czc" type="czc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la zona de concentración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpp" type="cpp">
						<xsd:annotation>
							<xsd:documentation>Identificador Polígono-Parcela</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="npa" type="npa">
						<xsd:annotation>
							<xsd:documentation>Nombre del Paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpaj" type="cpaj">
						<xsd:annotation>
							<xsd:documentation>Código del Paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZCIÓN DE LA LOCALIZACIÓN SELECTIVA-->
	<xsd:complexType name="locsrevp">
		<xsd:complexContent>
			<xsd:restriction base="locs">
				<xsd:choice>
					<xsd:element name="lous">
						<xsd:annotation>
							<xsd:documentation>Localización Municipal del bien urbano</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lous">
									<xsd:sequence>
										<xsd:element name="lourb" type="lourbrevp">
											<xsd:annotation>
												<xsd:documentation>Localización urbana</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="lorus" type="lorusrevp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización rústica adicional</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="lors">
						<xsd:annotation>
							<xsd:documentation>Localización Municipal del Bien Rústico</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lors">
									<xsd:sequence>
										<xsd:element name="lorus" type="lorusrrevp">
											<xsd:annotation>
												<xsd:documentation>Localización rústica </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="lourb" type="lourbrrevp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización urbana adicional</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZZCIÓN DE LA ENTIDAD BIEN INMUEBLE-->
	<xsd:complexType name="birevp">
		<xsd:complexContent>
			<xsd:restriction base="bi">
				<xsd:sequence>
					<!--Identificación del bien inmueble-->
					<xsd:element name="idcat" type="idcat">
						<xsd:annotation>
							<xsd:documentation>Identificación del inmueble</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Identificación adicional-->
					<xsd:element name="idad" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Información adicional del bien inmueble</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="idad">
									<xsd:sequence>
										<xsd:element name="nfr" type="nfr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Número de finca registral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Domicilio tributario-->
					<xsd:element name="dt">
						<xsd:annotation>
							<xsd:documentation>Domicilio Tributario</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dt">
									<xsd:sequence>
										<xsd:element name="loine" type="loine">
											<xsd:annotation>
												<xsd:documentation>Localización del INE</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cmc" type="cmc">
											<xsd:annotation>
												<xsd:documentation>Código de Municipio de la DGC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="np" type="np">
											<xsd:annotation>
												<xsd:documentation>Nombre de Provincia</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nm" type="nm">
											<xsd:annotation>
												<xsd:documentation>Nombre de Municipio</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nem" type="nem" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de entidad menor</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="locs" type="locsrevp">
											<xsd:annotation>
												<xsd:documentation>Localización Municipal</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="debi" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos económicos del bien inmueble</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="debi">
									<xsd:sequence>
										<xsd:element name="pvd" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Precio o valor declarado</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="opvd" type="opvd" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Origen del precio o valor declarado</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="rep" type="rep" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Representante</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICUALRIZACIÓN DE LA ENTIDAD SITUACIÓN INICIAL DE TITULARIDAD-->
	<xsd:complexType name="lsivp">
		<xsd:complexContent>
			<xsd:restriction base="lsi">
				<xsd:sequence>
					<xsd:element name="tit" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Transmitente</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="tit">
									<xsd:sequence>
										<xsd:element name="der" type="der">
											<xsd:annotation>
												<xsd:documentation>Derechos</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="idpa" type="idpa">
											<xsd:annotation>
												<xsd:documentation>Identificación del titular</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LA ENTIDAD SITUACIÓN FINAL DE TITULARIDAD-->
	<xsd:complexType name="lsfvp">
		<xsd:complexContent>
			<xsd:restriction base="lsfe">
				<xsd:sequence>
					<xsd:element name="ltit">
						<xsd:annotation>
							<xsd:documentation>Lista de titulares</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ltit">
									<xsd:sequence>
										<xsd:element name="tit" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Titular</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="tit">
														<xsd:sequence>
															<xsd:element name="der" type="der">
																<xsd:annotation>
																	<xsd:documentation>Datos sobre le derecho</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="ord" type="ord">
																<xsd:annotation>
																	<xsd:documentation>Ordinal del derecho (número secuencial del derecho del titular sobre el bien)</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="idpa" type="idpa">
																<xsd:annotation>
																	<xsd:documentation>Identificación del Titular</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="df">
																<xsd:annotation>
																	<xsd:documentation>Domicilio Fiscal</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="df">
																			<xsd:sequence>
																				<xsd:element name="loine" type="loine">
																					<xsd:annotation>
																						<xsd:documentation>localización INE</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="cmc" type="cmc">
																					<xsd:annotation>
																						<xsd:documentation>Código de Municipio de la DGC</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="np" type="np">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de Provincia</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nm" type="nm">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de Municipio</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nem" type="nem" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="dir" type="dir">
																					<xsd:annotation>
																						<xsd:documentation>Dirección</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="loint" type="loint" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Localización interna</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pos" type="pos">
																					<xsd:annotation>
																						<xsd:documentation>Datos postales</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="iatit" type="iatit" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>información adicional de titularidad</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="faj" type="fecha" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Fecha de alteración jurídica. Sólo se consignará en caso de existir una fecha de alteración distinta de la expresada en el expediente</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="lcbi" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Lista de comunidades de bienes </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lcbi">
									<xsd:sequence>
										<xsd:element name="cbi" maxOccurs="4">
											<xsd:annotation>
												<xsd:documentation>Comunidad de bienes</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="cbi">
														<xsd:sequence>
															<xsd:element name="idcbf" type="idcbf">
																<xsd:annotation>
																	<xsd:documentation>identificación de la comunidad de bienes</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="df">
																<xsd:annotation>
																	<xsd:documentation>Domicilio fiscal</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="df">
																			<xsd:sequence>
																				<xsd:element name="loine" type="loine">
																					<xsd:annotation>
																						<xsd:documentation>Localización INE</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="cmc" type="cmc">
																					<xsd:annotation>
																						<xsd:documentation>Código de Municipio de la DGC</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="np" type="np">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de Provincia</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nm" type="nm">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de Municipio</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nem" type="nem" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="dir" type="dir">
																					<xsd:annotation>
																						<xsd:documentation>Dirección</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="loint" type="loint" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Localización interna</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pos" type="pos">
																					<xsd:annotation>
																						<xsd:documentation>Datos postales</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LA ENTIDAD MOVIMIENTO-->
	<xsd:complexType name="movrevp">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="tint" type="tintvp">
						<xsd:annotation>
							<xsd:documentation>Tipo de Intercambio:           V (Variaciones)        R (Registro)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Tipo de expediente (motivo del movimiento)-->
					<xsd:element name="texp" type="texpjrvp">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fac" type="fecha">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expg" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente de la Gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec">
						<xsd:annotation>
							<xsd:documentation>Expediente administrativo origen</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expa" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente anterior</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fre" type="fecha">
						<xsd:annotation>
							<xsd:documentation>Fecha de registro del expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fhm">
						<xsd:annotation>
							<xsd:documentation>Fecha y hora del movimiento</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="fhm">
									<xsd:sequence>
										<xsd:element name="fm" type="fecha"/>
										<xsd:element name="hm" type="xsd:time"/>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--INFORMACIÓN DE NOTARIOS Y REGISTRADORES-->
					<xsd:element name="inr" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Información Notarial</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="inr">
									<xsd:sequence>
										<xsd:element name="npn" type="npn" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Número de Protocolo Notarial</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="decl" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos de la declaración</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="decl">
									<xsd:sequence>
										<!--Documento origen de la alteración-->
										<xsd:element name="doco" type="doco" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Documento origen de la alteración: P: Público, R: Privado</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="idoco" type="idoco" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Información del documento origen de la alteración</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nbi" type="nbi">
											<xsd:annotation>
												<xsd:documentation>Número de bienes inmuebles implicados en la declaración</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="cdeac" type="cdeac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la descripción de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="deac" type="deac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Descripción de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dec">
						<xsd:annotation>
							<xsd:documentation>Presentador del expediente</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dec">
									<xsd:sequence>
										<xsd:element name="idp" type="idp">
											<xsd:annotation>
												<xsd:documentation>Identificación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dfn">
											<xsd:annotation>
												<xsd:documentation>Domicilio de notificación</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="dfn">
														<xsd:sequence>
															<xsd:element name="loine" type="loine">
																<xsd:annotation>
																	<xsd:documentation>Localización según INE</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="cmc" type="cmc">
																<xsd:annotation>
																	<xsd:documentation>Código de Municipio de la DGC</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="np" type="np">
																<xsd:annotation>
																	<xsd:documentation>Nombre de Provincia</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="nm" type="nm">
																<xsd:annotation>
																	<xsd:documentation>Nombre del municipio</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="nem" type="nem" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="dir">
																<xsd:annotation>
																	<xsd:documentation>Dirección</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="dir">
																			<xsd:sequence>
																				<xsd:element name="cv" type="cv" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Código de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="tv" type="tv">
																					<xsd:annotation>
																						<xsd:documentation>Tipo de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nv" type="nv">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pnp" type="pnp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Primer número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="plp" type="plp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="snp" type="snp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Segundo número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="slp" type="slp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Segunda letra asociada al número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="km" type="km" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Kilómetro</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="td" type="dne" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Dirección no estructurada</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="loint" type="loint" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Localización interna</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="pos" type="pos">
																<xsd:annotation>
																	<xsd:documentation>Datos  postales</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--ELEMENTO RAIZ DEL FORMATO DE INTERCAMBIO -->
	<xsd:element name="varpad">
		<xsd:annotation>
			<xsd:documentation>Formato de intercambio de titularidad VARPAD</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cab" type="cabreduvp">
					<xsd:annotation>
						<xsd:documentation>Cabecera</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="luden" type="luvp">
					<xsd:annotation>
						<xsd:documentation>Lista de Unidades de datos de entrada</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="luvp">
		<xsd:complexContent>
			<xsd:restriction base="luden">
        <xsd:choice>
					<xsd:element name="uden" type="uvp" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Unidad de datos de entrada</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--UNIDAD DE DE DATOS DE VARPAD PARTICULARIZACIÓN DE LA UNIDAD DE DATOS DE ENTRADA-->
	<xsd:complexType name="uvp">
		<xsd:complexContent>
			<xsd:restriction base="uden">
				<xsd:sequence>
					<xsd:element name="exp" type="movrevp">
						<xsd:annotation>
							<xsd:documentation>Expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--ELEMENTOS CATASTRALES DE UN EXPEDIENTE-->
					<xsd:element name="lelem" type="lelemvp">
						<xsd:annotation>
							<xsd:documentation>Intercambios amparados por el expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--LISTA DE ELEMENTOS PARTICULARIZADA PARA VARPAD-->
	<xsd:complexType name="lelemvp">
		<xsd:complexContent>
			<xsd:restriction base="lelem">
				<xsd:choice>
					<xsd:element name="elemv" type="elemvp" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Alteración comunicada</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="elemr" type="elemrvp" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Información de registro</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LA PARTE DE ELEMENTOS CON TIPO DE INTERCAMBIO r-->
	<xsd:complexType name="elemrvp">
		<xsd:complexContent>
			<xsd:restriction base="elemr">
				<xsd:sequence>
					<xsd:element name="bicreg">
						<xsd:annotation>
							<xsd:documentation>Bien inmueble</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="bireg">
									<xsd:sequence>
										<xsd:element name="idreg">
											<xsd:annotation>
												<xsd:documentation>Identificación del bien inmueble</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="idreg">
														<xsd:sequence>
															<xsd:element name="locat" type="locat">
																<xsd:annotation>
																	<xsd:documentation>Localización del Catastro</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="rcl" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Referencia Catastral</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="rcl">
																			<xsd:sequence>
																				<xsd:element name="pc1" type="pcatastral1">
																					<xsd:annotation>
																						<xsd:documentation>Parcela Catatsral 1</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pc2" type="pcatastral2">
																					<xsd:annotation>
																						<xsd:documentation>Parcela Catastral 2</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="car" type="car">
																					<xsd:annotation>
																						<xsd:documentation>Cargo</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="cc1" type="cc">
																					<xsd:annotation>
																						<xsd:documentation>Dígito de control 1</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="cc2" type="cc">
																					<xsd:annotation>
																						<xsd:documentation>Dígito de Control 2</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PARTICULARIZACIÓN DE LA PARTE DE ELEMENTOS CON TIPO DE INTERCAMBIO V-->
	<xsd:complexType name="elemvp">
		<xsd:complexContent>
			<xsd:restriction base="elemv">
				<xsd:sequence>
					<xsd:element name="lbicenv">
						<xsd:annotation>
							<xsd:documentation>Etiqueta instrumental (Compatibilidad FIN)</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lbicenv">
									<xsd:sequence>
										<xsd:element name="bij">
											<xsd:annotation>
												<xsd:documentation>Bien inmueble con información de titularidad</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="bije">
														<xsd:sequence>
															<xsd:element name="bi" type="birevp">
																<xsd:annotation>
																	<xsd:documentation>Datos del bien inmueble</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="mov">
																<xsd:annotation>
																	<xsd:documentation>Movimiento</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="movc">
																			<xsd:sequence>
																				<xsd:element name="tmov" type="tmovcvp">
																					<xsd:annotation>
																						<xsd:documentation>Tipo de Movimiento  I</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="lsf" type="lsfvp">
																<xsd:annotation>
																	<xsd:documentation>Situación final de titularidad (Adquirentes)</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="lsi" type="lsivp" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Situación inicial de titularidad (Transmitentes)</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
