seguridad/tags/release-1.0/modulos/apps/LOCALGIS-APPS-Catastro/src/main/resources/com/geopista/app/catastro/servicioWebCatastro/utils/schemasxsd/ConsultaCatastroRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--*********************************************************************************************-->
<!--*********************************************************************************************-->
<!--                                    ConsultaCatastroRequest                                                  -->
<!--                                                                                                                           -->
<!--      Tipo de documento:              Mensaje                                                              -->
<!--*********************************************************************************************-->
<!--*********************************************************************************************-->
<!--******************************************************-->
<!--                             09.12.2009       					 -->
<!--******************************************************-->
<!--
Cambios realizados respecto a la versión anterior:

09-12-2009
Se añade el expediente anterior en el elemento exp.
Se adapta el tipo movrefrcc a la mofificación del tipo de datos rexpg.
19-05-2009
El código de la descripción de la alteración catastral pasa a ser de 3 posiciones.
01-09-2008
Se modifican los tipos de expediente para que se hereden los del fin de entrada.
29-02-2008
Se añade la opción G en el tipo de entidad generadora (tegraccatr).
04-02-2008
El elemento finca pasa a llamarse elem, y el tipo fincaccrq pasa a llamarse elemccrq.
25-01-2008
Se modifican los nombres de algunos tipos, pero la estructura no cambia.
16-07-07
Los elementos ffi y fre pasan a ser de tipo fecha.
11-05-07
Se modifican varios tipos para impedir cadenas rellenas unicamente con blancos.
30-04-2007
Se modifican los tipos de expediente
22-01-2007
Se modifica la lista de fincas añadiendo la localización según catastro y la clase de naturaleza a la
referencia catastral del inmueble y a la de la finca
19-01-2007
Se corrige el tipo de intercambio del expediente tintcc para que sólo admita sólo el  valor R
-->
<xsd:schema xmlns="http://www.catastro.meh.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.catastro.meh.es/" elementFormDefault="qualified" version="1.0">
	<xsd:include schemaLocation="ldc.xsd"/>
	<xsd:include schemaLocation="finentrada.xsd"/>
	<!--REDUCCIÓN DEL TIPO SIMPLE TIPO DE ENTIDAD GENERADORA-->
	<xsd:simpleType name="tegraccatr">
		<xsd:restriction base="teg">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="G"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--REDUCCIÓN DE LA ENTIDAD CABECERA-->
	<xsd:complexType name="cabccatrq">
		<xsd:complexContent>
			<xsd:restriction base="cab">
				<xsd:sequence>
					<!--Identificación de la entidad generadora-->
					<xsd:element name="ieg">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ieg">
									<xsd:sequence>
										<xsd:element name="teg" type="tegraccatr"/>
										<xsd:element name="ceg">
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="ceg">
														<xsd:choice>
															<xsd:element name="engf" type="engf"/>
														</xsd:choice>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="neg" type="neg"/>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Información del fichero-->
					<xsd:element name="ifi">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ifi">
									<xsd:sequence>
										<xsd:element name="ffi" type="fecha"/>
										<xsd:element name="hfi" type="xsd:time"/>
										<xsd:element name="tfi" type="tfi" fixed="WTCE"/>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="sol" type="idp"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fincarccatr">
		<xsd:complexContent>
			<xsd:restriction base="finca">
				<xsd:sequence>
					<xsd:element name="idfcat" type="idfcat"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lfinccrq">
		<xsd:sequence>
			<xsd:element name="exp" type="movrefrcc"/>
			<!--<xsd:element name="finca" type="fincarccatr" maxOccurs="unbounded"/>-->
			<!--<xsd:element name="finca" type="rcof" maxOccurs="unbounded"/>-->
			<xsd:element name="elem" type="elemccrq" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ConsultaCatastroRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="control" type="cabccatrq"/>
				<xsd:element name="pregunta" type="lfinccrq"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="tintcc">
		<xsd:restriction base="tint">
			<xsd:enumeration value="R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="movrefrcc">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="tint" type="tintcc">
						<xsd:annotation>
							<xsd:documentation>Tipo de Intercambio:   R: Sólo información de registro </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Tipo de expediente (motivo del movimiento)-->
					<xsd:element name="texp" type="texpjrfe">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--<xsd:element name="fac" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>-->
					<xsd:element name="expg" type="expg">
						<xsd:annotation>
							<xsd:documentation>Expediente de la Gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec">
						<xsd:annotation>
							<xsd:documentation>Expediente administrativo origen</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expa" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente anterior</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fre" type="fecha">
						<xsd:annotation>
							<xsd:documentation>Fecha de registro</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--INFORMACIÓN DE NOTARIOS Y REGISTRADORES-->
					<!--<xsd:element name="fhm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha y hora de cierre del expediente</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="fhm">
									<xsd:sequence>
										<xsd:element name="fm" type="xsd:date">
											<xsd:annotation>
												<xsd:documentation>Fecha del movimiento</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="hm" type="xsd:time">
											<xsd:annotation>
												<xsd:documentation>Hora del movimiento</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>-->
					<xsd:element name="inr" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>información notarial</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="inr">
									<xsd:sequence>
										<xsd:element name="npn" type="npn" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Número de protocolo notarial</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="decl" type="decl" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Datos de la declaración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cdeac" type="cdeac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código descriptivo de la alteración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="deac" type="deac" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Descripción de la alteración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dec">
						<xsd:annotation>
							<xsd:documentation>Presentador del expediente</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dec">
									<xsd:sequence>
										<xsd:element name="idp" type="idp">
											<xsd:annotation>
												<xsd:documentation>Identificación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dfn">
											<xsd:annotation>
												<xsd:documentation>Domicilio de notificación</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="dfn">
														<xsd:sequence>
															<xsd:element name="loine" type="loine">
																<xsd:annotation>
																	<xsd:documentation>Localización INE</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="cmc" type="cmc">
																<xsd:annotation>
																	<xsd:documentation>Código de municipio de la DGC</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="np" type="np">
																<xsd:annotation>
																	<xsd:documentation>Nombre de provincia</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="nm" type="nm">
																<xsd:annotation>
																	<xsd:documentation>Nombre de municipio</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="nem" type="nem" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Nombre de entidad menor</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="dir">
																<xsd:annotation>
																	<xsd:documentation>Dirección</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:complexContent>
																		<xsd:restriction base="dir">
																			<xsd:sequence>
																				<xsd:element name="cv" type="cv" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Código de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="tv" type="tv">
																					<xsd:annotation>
																						<xsd:documentation>Tipo de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="nv" type="nv">
																					<xsd:annotation>
																						<xsd:documentation>Nombre de vía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="pnp" type="pnp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Primer número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="plp" type="plp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="snp" type="snp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Segundo número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="slp" type="slp" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Segunda letra asociada al número de policía</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="km" type="km" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Kilómetro</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																				<xsd:element name="td" type="dne" minOccurs="0">
																					<xsd:annotation>
																						<xsd:documentation>Texto de dirección no estructurada</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:restriction>
																	</xsd:complexContent>
																</xsd:complexType>
															</xsd:element>
															<xsd:element name="loint" type="loint" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Localización interna</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="pos" type="pos">
																<xsd:annotation>
																	<xsd:documentation>Datos postales</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="elemccrq">
		<xsd:sequence>
			<xsd:element name="locat" type="locat"/>
			<xsd:choice>
				<xsd:element name="idf" type="idf"/>
				<xsd:element name="idbi" type="idbi"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
