seguridad/tags/release-1.0/modulos/apps/LOCALGIS-APPS-Catastro/src/main/resources/com/geopista/app/catastro/intercambio/importacion/utils/schemasxsd/padron.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--*****************************************************************************************************************-->
<!--*****************************************************************************************************************-->
<!--                                                         padron2006                                                                           -->
<!--																																						-->
<!-- 			Tipo de documento:  agrupación de entidades particularizadas - formato de intercambio          	-->
<!--*****************************************************************************************************************-->
<!--*****************************************************************************************************************-->
<!--**********************************************************-->
<!--         						06-07-2007                              -->
<!--**********************************************************-->
<!--
Cambios realizados respecto a la versión anterior:
06-07-2007
Se modifica el tipo de algunas fechas: pasa de xsd:date a fecha.

14-06-2007
Se modifica el tipo usopad.

20-12-2006
Se añaden tres nuevos tipos de uso al bien inmueble

10-07-2006
Se cambia el nombre del esquema que pasa a llamarse padron.xsd en lugar de espadron.xsd

11-05-2206
ert dentro de dcbl pasa a ser opcional

25-04-2006
La base liquidable pasa a se opcional dentro de los datos económicos del bien inmueble

La información adicional pasa a ser voluntaria <xsd:element name="idad" minOccurs="0">

-->
<xsd:schema xmlns="http://www.catastro.meh.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.catastro.meh.es/" elementFormDefault="qualified" version="1.0">
	<xsd:include schemaLocation="ldc.xsd"/>
	<!--PARTICULARIZACIÓN (REDUCCIÓN) DEL TIPO SIMPLE TIPO DE FICHERO PARA ACEPTAR SÓLO LAS POSIBILIDADES DE ESTE FORMATO-->
	<xsd:simpleType name="tfir">
		<xsd:restriction base="tfi">
			<xsd:enumeration value="CPAD"/>
			<xsd:enumeration value="CDOC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--REDUCCIÓN DEL TIPO SIMPLE TIPO DE ENTIDAD GENERADORA-->
	<xsd:simpleType name="tegrp">
		<xsd:restriction base="teg">
			<xsd:enumeration value="G"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--REDUCCIÓN DEL TIPO SIMPLE DE USO-->
	<xsd:simpleType name="usopad">
		<xsd:restriction base="uso">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="V"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="K"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="J"/>
			<xsd:enumeration value="Z"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--REDUCCIÓN DE LA ENTIDAD CABECERA-->
	<xsd:complexType name="cabr">
		<xsd:complexContent>
			<xsd:restriction base="cab">
				<xsd:sequence>
					<!--Identificación de la entidad generadora-->
					<xsd:element name="ieg">
						<xsd:annotation>
							<xsd:documentation>Identificación de la entidad generadora</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ieg">
									<xsd:sequence>
										<xsd:element name="teg" type="tegrp">
											<xsd:annotation>
												<xsd:documentation>Tipo de entidad generadora G</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ceg">
											<xsd:annotation>
												<xsd:documentation>Código de la entidad generadora</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="ceg">
														<xsd:sequence>
															<xsd:element name="cde" type="cd">
																<xsd:annotation>
																	<xsd:documentation>Gerencia del Catastro</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="neg" type="neg">
											<xsd:annotation>
												<xsd:documentation>Nombre de la Gerencia del catastro</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Información del fichero-->
					<xsd:element name="ifi">
						<xsd:annotation>
							<xsd:documentation>Información del fichero</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="ifi">
									<xsd:sequence>
										<xsd:element name="ffi" type="fecha">
											<xsd:annotation>
												<xsd:documentation>Fecha del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="hfi" type="xsd:time">
											<xsd:annotation>
												<xsd:documentation>Hora del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<!--Se fuerza a que el tipo de fichero sea siempre NRGE-->
										<xsd:element name="tfi" type="tfir">
											<xsd:annotation>
												<xsd:documentation>Tipo de fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dfi" type="dfi">
											<xsd:annotation>
												<xsd:documentation>Datos del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nfi" type="nfi" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre del fichero</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<!--Código de la entidad destinataria-->
					<xsd:element name="ced" type="ced" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la entidad destinataria (Cumplimentado por la DGC)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Datos específicos del formato padrón-->
					<xsd:element name="dpad" type="dpad">
						<xsd:annotation>
							<xsd:documentation>Datos específicos del formato</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Cuenta de bienes inmuebles-->
					<xsd:element name="cubi" type="cubi">
						<xsd:annotation>
							<xsd:documentation>Cuenta de bienes inmuebles</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--Cuenta de titulares-->
					<xsd:element name="cutit" type="cutit">
						<xsd:annotation>
							<xsd:documentation>Cuenta de titulares</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--REDUCCIÓN DE LORUS Y LOURB QUE SE UTILIZARÁ EN EL DOMICILIO SELECTIVO-->
	<xsd:complexType name="lourbr">
		<xsd:complexContent>
			<xsd:restriction base="lourb">
				<xsd:sequence>
					<xsd:element name="dir">
						<xsd:annotation>
							<xsd:documentation>Dirección</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dir">
									<xsd:sequence>
										<xsd:element name="cv" type="cv">
											<xsd:annotation>
												<xsd:documentation>Código de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="tv" type="tv">
											<xsd:annotation>
												<xsd:documentation>Tipo de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nv" type="nv">
											<xsd:annotation>
												<xsd:documentation>Nombre de vía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="pnp" type="pnp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primer número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="plp" type="plp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Primera letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="snp" type="snp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segundo número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="slp" type="slp" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Segunda letra asociada al número de policía</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="km" type="km" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Kilómetro</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="td" type="dne" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Dirección no estructurada</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="loint" type="loint" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Localización interna</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dp" type="dp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distrito postal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dm" type="dm" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Distrito municipal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--REDUCCIÓN DE LORUS PARA INMUEBLE URBANO-->
	<xsd:complexType name="lorusr">
		<xsd:complexContent>
			<xsd:restriction base="lorus">
				<xsd:sequence>
					<xsd:element name="cma" type="cma" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de municipio origen en caso de agregación</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="czc" type="czc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la zona de concentración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpp" type="cpp">
						<xsd:annotation>
							<xsd:documentation>Código polígono  parcela</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="npa" type="npa" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Nombre del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--REDUCCIÓN DE LORUS PARA INMUEBLE RÚSTICO-->
	<xsd:complexType name="lorusrr">
		<xsd:complexContent>
			<xsd:restriction base="lorus">
				<xsd:sequence>
					<xsd:element name="cma" type="cma" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de municipio origen en caso de agregación</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="czc" type="czc" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Código de la zona de concentración</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cpp" type="cpp">
						<xsd:annotation>
							<xsd:documentation>Código polígono  parcela</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="npa" type="npa">
						<xsd:annotation>
							<xsd:documentation>Nombre del paraje</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--REDUCCIÓN DE LA LOCALIZACIÓN SELECTIVA-->
	<xsd:complexType name="locsr">
		<xsd:complexContent>
			<xsd:restriction base="locs">
				<xsd:choice>
					<xsd:element name="lous">
						<xsd:annotation>
							<xsd:documentation>Localización municipal urbana</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lous">
									<xsd:sequence>
										<xsd:element name="lourb" type="lourbr">
											<xsd:annotation>
												<xsd:documentation>Localización urbana</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="lorus" type="lorusr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización rústica adicional</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="lors">
						<xsd:annotation>
							<xsd:documentation>Localización municial rústica</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lors">
									<xsd:sequence>
										<xsd:element name="lorus" type="lorusrr">
											<xsd:annotation>
												<xsd:documentation>Localización rústica</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="lourb" type="lourbr" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización urbana adicional</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--REDUCCIÓN DE BIEN INMUEBLE-->
	<xsd:complexType name="bir">
		<xsd:complexContent>
			<xsd:restriction base="bi">
				<xsd:sequence>
					<xsd:element name="idcat" type="idcat">
						<xsd:annotation>
							<xsd:documentation>Identificación del bien inmueble</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idad" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identificación adicional del bien inmueble</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="idad">
									<xsd:sequence>
										<xsd:element name="nfbi" type="nfbi">
											<xsd:annotation>
												<xsd:documentation>Número fijo del bien inmueble</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="iia" type="iia" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Identificación del inmueble del Ayuntamiento</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="dt">
						<xsd:annotation>
							<xsd:documentation>Domicilio tributario</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="dt">
									<xsd:sequence>
										<xsd:element name="loine" type="loine">
											<xsd:annotation>
												<xsd:documentation>Localización INE</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cmc" type="cmc">
											<xsd:annotation>
												<xsd:documentation>Código de Municipio de la DGC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="np" type="np">
											<xsd:annotation>
												<xsd:documentation>Nombre de provincia</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nm" type="nm">
											<xsd:annotation>
												<xsd:documentation>Nombre de Municipio</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nem" type="nem" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="locs" type="locsr">
											<xsd:annotation>
												<xsd:documentation>Localización Municipal</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="debi">
						<xsd:annotation>
							<xsd:documentation>Datos económicos del bien inmueble</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="debi">
									<xsd:sequence>
										<xsd:element name="avc" type="xsd:gYear">
											<xsd:annotation>
												<xsd:documentation>Año del valor catastral</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vcat" type="vcat">
											<xsd:annotation>
												<xsd:documentation>Valor catastral </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vcs" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Valor catastral del suelo</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="vcc" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Valor catastral de la construcción</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="bl" type="vcat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Base liquidable</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="uso" type="usopad" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Uso</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="bru" type="bru" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Bonificaciones rústicas</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="sfc" type="supg" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Superficie asociada al cargo en procedimientos de valoración de fincas construidas</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="sfs" type="supg" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Superficie asociada al cargo en procedimientos de valoración de solares o parcelas rústicas</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cpt" type="cpt" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Coeficiente de participación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="titr">
		<xsd:complexContent>
			<xsd:restriction base="tit">
				<xsd:sequence>
					<xsd:element name="der" type="der">
						<xsd:annotation>
							<xsd:documentation>Datos del derecho</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idps" type="idps">
						<xsd:annotation>
							<xsd:documentation>Identificación del titular</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="df">
						<xsd:annotation>
							<xsd:documentation>Domicilio fiscal</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="df">
									<xsd:sequence>
										<xsd:element name="loine" type="loine" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización INE</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cmc" type="cmc" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Código de municipio de la DGC</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="np" type="np" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de provincia</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nm" type="nm" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de municipio</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="nem" type="nem" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Nombre de la entidad menor</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="dir" type="dir" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Dirección</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="loint" type="loint" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Localización interna</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="pos" type="pos" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Datos postales</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="idcbf" type="idcbf" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Identificación de la comunidad de bienes formal</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--MOVIMIENTO REDUCIDO PARA ALTERACIONES FÍSICO ECONÓMICAS-->
	<xsd:complexType name="movr">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="cfpa" type="cfpa" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Clase de alteración comunicada frente al padrón anterior:   CONT: Información continuista respecto al padrón anterior                   EV01: Modificación de la información físico económica sin cambio de titularidad      EV03: Modificación de la información físico económica y de titularidad           EN01: Cambio de titularidad sin alteración del valor</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="texp" type="texp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fac" type="fecha" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración catastral</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expg" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente fisico económico de la gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente fisico económico origen de la entidad colaboradora</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--MOVIMIENTO REDUCIDO PARA ALTERACIONES JURÍDICAS-->
	<xsd:complexType name="movr2">
		<xsd:complexContent>
			<xsd:restriction base="mov">
				<xsd:sequence>
					<xsd:element name="texp" type="texp" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Tipo de expediente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fac" type="fecha" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Fecha de la alteración jurídica</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expg" type="expg" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente jurídico de la gerencia</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expec" type="expec" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Expediente jurídico origen de la entidad colaboradora</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="eep" type="xsd:gYear">
						<xsd:annotation>
							<xsd:documentation>Ejercicio de entrada en padrón</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--REDUCCIÓN DE LA INFORMACIÓN TRIBUTARIA-->
	<xsd:complexType name="inftr">
		<xsd:complexContent>
			<xsd:restriction base="inft">
				<xsd:sequence>
					<xsd:element name="dcbl" type="dcbl" minOccurs="0"/>
					<xsd:element name="spas">
						<xsd:annotation>
							<xsd:documentation>Sujeto pasivo</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="spas">
									<xsd:sequence>
										<xsd:element name="drsp" type="drsp">
											<xsd:annotation>
												<xsd:documentation>Datos del derecho</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="idps" type="idps">
											<xsd:annotation>
												<xsd:documentation>Identificación</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="df" type="dfsp">
											<xsd:annotation>
												<xsd:documentation>Domicilio fiscal</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cony" type="cony" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Identificación del cónyuge</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--ELEMENTIO RAÍZ DEL FORMATO-->
	<xsd:element name="padron">
		<xsd:annotation>
			<xsd:documentation>Padron de bienes inmuebles</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cabecera" type="cabr">
					<xsd:annotation>
						<xsd:documentation>Cabecera</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ludsa" type="lupadron">
					<xsd:annotation>
						<xsd:documentation>Lista de unidades de datos de salida del padron catastral</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--LISTA DE UNIDAD DE DATOS DE PADRON (REDUCCIÓN DE LISTA DE UNIDAD DE DATOS TRIBUTARIOS DE SALIDA)-->
	<!--PRUEBA-->
	<!--<xsd:complexType name="upadron2">
		<xsd:complexContent>
			<xsd:restriction base="udsa2">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="lbics" type="lbicsr"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>-->
	<!--PRUEBA-->
	<xsd:complexType name="lupadron">
		<xsd:complexContent>
			<xsd:restriction base="ludsa">
				<xsd:sequence>
					<xsd:element name="udsa" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Unidad de datos de salida</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="upadron">
									<xsd:sequence>
										<xsd:sequence>
											<xsd:element name="lbics" type="lbicsr">
												<xsd:annotation>
													<xsd:documentation>Lista de bienes inmuebles (En caso de comunicación de datos de padrones de años anteriores, Formato DOC, habrá mas de un elemento bij)</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="upadron">
		<xsd:complexContent>
			<xsd:restriction base="udsa">
				<xsd:sequence>
					<xsd:sequence>
						<xsd:element name="lbics" type="lbicsr"/>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="lbicsr">
		<xsd:complexContent>
			<xsd:restriction base="lbics">
				<xsd:sequence>
					<xsd:sequence maxOccurs="4">
						<xsd:element name="bij" type="bicpad">
							<xsd:annotation>
								<xsd:documentation>Datos del bien inmueble</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!--BIEN INMUEBLE CATASTRAL TRIBUTARIO DE SALIDA-->
	<xsd:complexType name="bicpad">
		<xsd:complexContent>
			<xsd:restriction base="bijs">
				<xsd:sequence>
					<xsd:element name="bi" type="bir">
						<xsd:annotation>
							<xsd:documentation>Datos del bien inmueble</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inft" type="inftr">
						<xsd:annotation>
							<xsd:documentation>Información tributaria</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="exp" type="movr">
						<xsd:annotation>
							<xsd:documentation>Expediente físico económico</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lsf">
						<xsd:annotation>
							<xsd:documentation>Lista de titulares</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="lsfs">
									<xsd:sequence>
										<xsd:element name="sft" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Titular catastral</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:restriction base="sft">
														<xsd:sequence>
															<xsd:element name="tit" type="titr">
																<xsd:annotation>
																	<xsd:documentation>Datos del titular</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="exp" type="movr2">
																<xsd:annotation>
																	<xsd:documentation>Expediente jurídico</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:restriction>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
